$primary: #84ddff;
$splash: #f37176;

body {
  background: $primary;
  color: $splash;
}

div {
  background: $primary;
}

article {
  background: $primary;
  border: 1px solid $splash;
}

@mixin big-button($primary, $splash) {
  display: flex;
  color: $splash;
  background: $primary;
}

.btn-green {
  @include big-button(green, purple);
}

.btn-red {
  @include big-button(red, white);
}
