@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
$primary: #84ddff;
$splash: #f37176;
$fancy: 'Poppins';

body {
  background: $primary;
  color: $splash;
  font-family: $fancy;
}

div {
  background: $primary;
}

article {
  background: $primary;
  border: 1px solid $splash;
  font-family: $fancy;
}

@mixin big-button($primary, $splash) {
  display: flex;
  color: $splash;
  background: $primary;
  font-family: $fancy;
}

.btn-green {
  @include big-button(green, purple);
}

.btn-red {
  @include big-button(red, white);
}
